<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
			<li><a href="/photos">Photos</a><li>
    		</ul>
		</nav>
		<div class="container">
    		
        {{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:dobrien1795@gmail.com">Email</a></li>
        		<li><a href="https://github.com/dobrien1795">Github</a></li>
			<li><a href="https://instagram.com/dobrien1795">Instagram</a><li>
		    </ul>
		</footer>
	</body>
</html>
